@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");

/* ***************HEADER************** */
.separator-bottom {
  border-bottom: 1px solid #271a0b21;
}

.separator-top {
  border-top: 1px solid #271a0b21;
}

.nav-right {
  border-left: 1px solid #271a0b21;
}

.nav-left {
  border-right: 1px solid #271a0b21;
  padding-right: 1rem;
}

.btn-header {
  position: relative;
  color: #271a0b;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  border-radius: 100rem;
  background-color: #fff2e3;
  border: none;
  box-shadow: 5px 5px 10px rgb(54 54 55 / 20%),
    -5px -5px 10px rgb(255 255 255 / 40%);
  transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}

.btn-header:hover {
  background-color: #f8dfc3;
  border: none;
  box-shadow: 5px 5px 10px rgb(54 54 55 / 20%),
    -5px -5px 10px rgb(255 255 255 / 40%);
  transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
  color: #271a0b;
}

.username-dropdown {
  margin-left: 0.5rem;
}

.clear-btn {
  background-color: #fff;
  color: #271a0b;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  border: none;
}

.nav-search-form {
  display: flex;
  font-size: 1.4rem;
  margin-right: 1rem;
  border-right: 1px solid #271a0b21;
}

.nav-search {
  background-color: var(--bs-body-bg);
  border: none;
  border-bottom: 1px solid #271a0b21;
  background-color: var(--bs-body-bg);
  width: 50%;
}

/* ***************CAROUSEL************** */
.product-carousel {
  background-color: #fff;
  margin-bottom: 3rem;
  margin-top: 2rem;
  border-radius: 3rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h3,
.carousel-caption p {
  color: #271a0b;
}

.product-carousel-img {
  height: 300px;
  margin: 5rem auto 2rem auto;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/* ***************REUSABLE************** */
.guarantee {
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.rating {
  color: rgb(230, 169, 2);
}

.rating-text {
  margin: 0 15px;
  padding-top: 2px;
}

.category-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Maven Pro";
}

.category-description {
  text-align: center;
  width: 30%;
  font-size: 1rem;
  margin: auto;
  margin-bottom: 3rem;
  font-family: "Maven Pro";
}

.admin-tables {
  font-family: "Maven Pro";
  font-size: 1.2rem;
}

.modal-title {
  font-family: "Maven Pro";
  font-size: 2rem;
}

.modal-input {
  font-family: "Maven Pro";
  text-align: left;
  border: none;
  font-size: 1.2rem;
  border-bottom: 1px solid #271a0b21;
  background-color: var(--bs-body-bg);
  margin-bottom: 2rem;
  width: 100%;
}

/* ***************PRODUCT************** */
.product-img {
  background-color: #fff;
  width: 70%;
  margin-left: 5rem;
  border-radius: 2rem;
}

.heart-icon {
  position: absolute;
  left: 90%;
  top: 25%;
  font-weight: 700;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.extra-info {
  font-family: "Maven Pro";
  list-style: none;
  display: flex;
  flex-flow: column;
  padding-left: 0;
  margin-bottom: 1rem;
}

.extra-info-li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.extra-info-icon {
  margin-right: 1rem;
}

.btn-block {
  background: #271a0b;
  width: 100%;
  color: #fff;
  font-family: "Maven Pro";
  font-weight: 700;
  padding: 0.5rem 0;
  cursor: pointer;
  border: solid 0.5px #271a0ba9;
  border-radius: 0.5rem;
}

.btn-block:hover {
  background: #fff;
  color: #271a0b;
  border: solid 0.5px #271a0ba9;
}

.btn-block:disabled {
  background: #271a0b;
  cursor: not-allowed;
}

.btn-block:disabled:hover {
  color: #fff;
  cursor: not-allowed;
}

.extra-info-tabs {
  font-family: "Maven Pro";
}

option {
  text-align: center;
  padding: 0 1.8rem;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .quantity-col {
    min-width: 350px;
  }

  .quantity-col:nth-child(3) {
    margin: 20px 0 0 50%;
  }
}

.review-title {
  font-family: "Maven Pro";
  margin-top: 1rem;
}

.review-text {
  font-family: "Maven Pro";
}

/****************LOGIN************** */

.login {
  font-family: "Maven Pro";
  margin-bottom: 5rem;
}

.login-title {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.login-description {
  font-size: 1.4rem;
}

.login-input {
  font-family: "Maven Pro";
  text-align: left;
  border: none;
  font-size: 1.2rem;
  border-bottom: 1px solid #271a0b21;
  background-color: var(--bs-body-bg);
  margin-top: 2rem;
  width: 100%;
}

.login-input:hover,
.login-input:active {
  border-bottom: 1px solid #271a0b21;
}

.lastchild {
  margin-bottom: 3rem;
}

.separator-left {
  border-left: 1px solid #271a0b21;
}

/****************PROFILE************** */
.profile-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Maven Pro";
}

.profile-form {
  padding: 0 2.5rem 2.5rem 2.5rem;
  border: solid 0.5px #271a0b40;
  border-radius: 1rem;
}

/****************CART************** */

.overlay-amount-details {
  font-family: "Maven Pro";
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.cart-title {
  font-size: 3.5rem;
  font-family: "Maven Pro";
  margin-bottom: 3rem;
}

.cart-item-name {
  font-size: 1.4rem;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Maven Pro";
}

.cart-item-details {
  font-family: "Maven Pro";
  display: flex;
  align-items: center;
}

.amount-details {
  font-family: "Maven Pro";
}

.cart-description {
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.cart-btn {
  background-color: #271a0b;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: solid 0.5px #271a0ba9;
  font-family: "Maven Pro";
  font-weight: 600;
}

.cart-btn:hover {
  background: #fff;
  color: #271a0b;
  border: solid 0.5px #271a0ba9;
}

.delete {
  background-color: var(--bs-body-bg);
  color: #271a0b;
  margin-bottom: 0.3rem;
  border: none;
  border-radius: 0.25rem;
}

/* ***************SHIPPING************** */

.shipping-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Maven Pro";
}

.shipping-title {
  font-family: "Maven Pro";
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.shipping-form {
  width: 80%;
  padding: 0 2.5rem 2.5rem 2.5rem;
  border: solid 0.5px #271a0b40;
  border-radius: 1rem;
}

.product-img {
  position: relative;
}

.quantity-badge {
  position: absolute;
  left: 15rem;
  top: 1px;
  background: #271a0b;
  text-align: center;
  border-radius: 50%;
  color: white;
  padding: 5px 5px;
  height: 30px;
  width: 30px;
  font-size: 15px;
}

.shipping-amount {
  margin-left: 7rem;
}

.shipping-amount-details {
  font-family: "Maven Pro";
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.shipping-item-details {
  font-family: "Maven Pro";
  display: flex;
  align-items: center;
}

/* ***************PAYMENT************** */
.payment-title {
  font-family: "Maven Pro";
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.payment-form {
  font-family: "Maven Pro";
  width: 80%;
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  border: solid 0.5px #271a0b40;
  border-radius: 1rem;
}

.payment-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Maven Pro";
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #271a0b21;
}

.confirm-shipping-info {
  font-family: "Maven Pro";
  margin-left: 6rem;
  margin-top: 3rem;
}

.paypal-btn {
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 80%;
}

/* ***************FOOTER************** */
footer {
  background-color: #f8dfc3;
  margin-top: 3rem;
}

.footer-menu-list {
  list-style: none;
  font-size: 1.4rem;
  color: #271a0bc8;
  cursor: pointer;
}

.footer-menu-list > :first-child {
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.footer-menu-icon {
  margin-top: 1.6rem;
  cursor: pointer;
}

.footer-arrow-icon {
  cursor: pointer;
}

.footer-cta {
  font-size: 1.4rem;
}

.footer-cta-form {
  border: none;
  border-bottom: 1px solid #271a0b21;
  background-color: #f8dfc3;
  font-size: 1.4rem;
}

.footer-cta-form:active {
  border: none;
}
