main {
  height: 90vh;
}
/* ***************HEADER************** */
.separator-bottom {
  border-bottom: 1px solid #271a0b21;
}

/* ***************FOOTER************** */

.separator-top {
  border-top: 1px solid #271a0b21;
}

.footer-menu-list {
  list-style: none;
  font-size: 1.4rem;
  color: #271a0bc8;
}

.footer-menu-list > :first-child {
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.footer-menu-icon {
  margin-top: 1.6rem;
  cursor: pointer;
}

.footer-arrow-icon {
  cursor: pointer;
}

.footer-cta {
  font-size: 1.4rem;
}

.footer-cta-form {
  border: none;
  border-bottom: 1px solid #271a0b21;
  background-color: #fff2e3;
  font-size: 1.4rem;
}
