@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

/* ***************HEADER************** */
.separator-bottom {
  border-bottom: 1px solid #271a0b21;
}

.nav-right {
  border-left: 1px solid #271a0b21;
}

.nav-left {
  border-right: 1px solid #271a0b21;
}

.btn-header {
  position: relative;
  color: #271a0b;
  width: 3rem;
  height: 3rem;
  margin-left: 1.5rem;
  border-radius: 100rem;
  background-color: #fff2e3;
  border: none;
  box-shadow: 5px 5px 10px rgb(54 54 55 / 20%),
    -5px -5px 10px rgb(255 255 255 / 40%);
  transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}

.btn-header:focus {
  color: #271a0b;
}

.btn-header:active,
.btn-header:active:focus,
.btn-header:focus,
.btn-header:hover {
  background-color: #f8dfc3;
  border: none;
  box-shadow: 5px 5px 10px rgb(54 54 55 / 20%),
    -5px -5px 10px rgb(255 255 255 / 40%);
  transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
  color: #271a0b;
}

/* ***************REUSABLE************** */
.guarantee {
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.rating {
  color: rgb(230, 169, 2);
}

.rating-text {
  margin: 0.7rem;
}

.category-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Maven Pro";
}

.category-description {
  text-align: center;
  width: 30%;
  font-size: 1rem;
  margin: auto;
  margin-bottom: 3rem;
  font-family: "Maven Pro";
}

/* ***************PRODUCT************** */
.product-img {
  background-color: #fff;
  width: 70%;
  margin-left: 5rem;
  border-radius: 2rem;
}

.heart-icon {
  position: absolute;
  left: 90%;
  top: 25%;
  font-weight: 700;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.extra-info {
  font-family: "Maven Pro";
  list-style: none;
  display: flex;
  flex-flow: column;
  padding-left: 0;
  margin-bottom: 0;
}

.extra-info-li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.extra-info-icon {
  margin-right: 1rem;
}

.btn-block {
  background: #271a0b;
  width: 100%;
  color: #fff;
  font-family: "Maven Pro";
  font-weight: 700;
  padding: 0.5rem 0;
  cursor: pointer;
  border: solid 0.5px #271a0ba9;
}

.btn-block:hover {
  background: #fff;
  color: #271a0b;
  border: solid 0.5px #271a0ba9;
}

.extra-info-tabs {
  font-family: "Maven Pro";
}

/* ***************FOOTER************** */
footer {
  background-color: #f8dfc3;
  margin-top: 3rem;
}

.separator-top {
  border-top: 1px solid #271a0b21;
}

.footer-menu-list {
  list-style: none;
  font-size: 1.4rem;
  color: #271a0bc8;
  cursor: pointer;
}

.footer-menu-list > :first-child {
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.footer-menu-icon {
  margin-top: 1.6rem;
  cursor: pointer;
}

.footer-arrow-icon {
  cursor: pointer;
}

.footer-cta {
  font-size: 1.4rem;
}

.footer-cta-form {
  border: none;
  border-bottom: 1px solid #271a0b21;
  background-color: #f8dfc3;
  font-size: 1.4rem;
}

.footer-cta-form:active {
  border: none;
}
